/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: LatoBlack;
    src: url(assets/fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: LatoBlackItalic;
    src: url(assets/fonts/Lato/Lato-BlackItalic.ttf);
} 
@font-face {
    font-family: LatoBold;
    src: url(assets/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoBoldItalic;
    src: url(assets/fonts/Lato/Lato-BoldItalic.ttf);
} 
@font-face {
    font-family: LatoHairline;
    src: url(assets/fonts/Lato/Lato-Hairline.ttf);
}
@font-face {
    font-family: LatoHairlineItalic;
    src: url(assets/fonts/Lato/Lato-HairlineItalic.ttf);
} 
@font-face {
    font-family: LatoHeavy;
    src: url(assets/fonts/Lato/Lato-Heavy.ttf);
}
@font-face {
    font-family: LatoHeavyItalic;
    src: url(assets/fonts/Lato/Lato-HeavyItalic.ttf);
} 
@font-face {
    font-family: LatoItalic;
    src: url(assets/fonts/Lato/Lato-Italic.ttf);
} 
@font-face {
    font-family: LatoLight;
    src: url(assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: LatoLightItalic;
    src: url(assets/fonts/Lato/Lato-LightItalic.ttf);
} 
@font-face {
    font-family: LatoMedium;
    src: url(assets/fonts/Lato/Lato-Medium.ttf);
}
@font-face {
    font-family: LatoMediumItalic;
    src: url(assets/fonts/Lato/Lato-MediumItalic.ttf);
} 
@font-face {
    font-family: LatoRegular;
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoSemibold;
    src: url(assets/fonts/Lato/Lato-Semibold.ttf);
}
@font-face {
    font-family: LatoSemiboldItalic;
    src: url(assets/fonts/Lato/Lato-SemiboldItalic.ttf);
}
@font-face {
    font-family: LatoThin;
    src: url(assets/fonts/Lato/Lato-Thin.ttf);
}
@font-face {
    font-family: LatoThinItalic;
    src: url(assets/fonts/Lato/Lato-ThinItalic.ttf);
}